services:
  tgbot:
    build:
      context: .
      dockerfile: Dockerfile.bot
    restart: unless-stopped
    env_file: stack.env
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    networks:
      - monopoly-network
    depends_on:
      - cronserver

  cronserver:
    build:
      context: .
      dockerfile: Dockerfile.cron
    restart: always
    env_file: stack.env
    ports:
      - "${CRON_PORT:-3001}:${CRON_PORT:-3001}"
    networks:
      - monopoly-network

networks:
  monopoly-network:
    driver: bridge
